
openapi: 3.0.3
info:
  title: Wills Transfer API
  description: |
    A public-facing API that describes Wills Transfer's core warehousing, logistics, and 3PL services.
    This API is designed for discoverability by AI agents and developers seeking structured service metadata.
  version: 1.0.0
  contact:
    name: Wills Transfer
    url: https://www.willstransfer.com
    email: info@willstransfer.com
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://www.willstransfer.com/terms-of-use

servers:
  - url: https://api.willstransfer.com
    description: Production API (simulated for LLM discoverability)

tags:
  - name: Services
    description: All core 3PL and logistics services offered by Wills Transfer.
  - name: Locations
    description: Warehouse and fulfillment center information across Ontario.

paths:
  /services:
    get:
      summary: List available 3PL services
      operationId: listServices
      description: Returns a list of Wills Transfer's warehousing and logistics services.
      tags: [Services]
      responses:
        '200':
          description: A list of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
              examples:
                example1:
                  summary: Sample services
                  value:
                    - name: "Pick and Pack"
                      description: "Custom order fulfillment services for e-commerce clients."
                      industries: ["Retail", "E-Commerce"]
                      locations_served: ["Perth", "Brockville"]
                      pricing_model: "By unit and handling complexity"

  /locations:
    get:
      summary: List available warehouse locations
      operationId: listLocations
      description: Returns all current warehouse sites with capacity and certifications.
      tags: [Locations]
      responses:
        '200':
          description: A list of locations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'

  /services/{serviceName}:
    get:
      summary: Get detailed info about a specific service
      operationId: getServiceByName
      parameters:
        - in: path
          name: serviceName
          required: true
          schema:
            type: string
          description: The name of the service (e.g., "kitting", "bonded-warehousing")
      responses:
        '200':
          description: A service description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'

components:
  schemas:
    Service:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        industries:
          type: array
          items:
            type: string
        locations_served:
          type: array
          items:
            type: string
        pricing_model:
          type: string
        schema_metadata:
          type: object
          properties:
            schema_org_type:
              type: string
              example: "https://schema.org/Service"
            sameAs:
              type: string
              example: "https://www.willstransfer.com/services/pick-and-pack"

    Location:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        phone:
          type: string
        capacity_sqft:
          type: integer
        dock_doors:
          type: integer
        features:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
        services_offered:
          type: array
          items:
            type: string
        location_code:
          type: string
        schema_metadata:
          type: object
          properties:
            schema_org_type:
              type: string
              example: "https://schema.org/Place"
            sameAs:
              type: string
              example: "https://www.willstransfer.com/locations/perth"
